# Reset iptables for java app running on port 8080 (automatically on startup)

[Unit]
Description=Reset IP Tables for Java Application Service
After=java-app.service
Requires=java-app.service

[Service]
# must be root to setup iptables
User=root
ExecStart=iptables -t nat -A PREROUTING -p tcp --dport 80 -j REDIRECT --to-port 8080

[Install]
WantedBy=multi-user.target
