# Reset iptables for java app running on port 8080 (automatically on startup)

[Unit]
Description=Reset IP Tables for Java Application Service

[Service]
# must be root to setup iptables
User=root
ExecStart=/bin/bash /srv/app/app-onstartup.sh

[Install]
WantedBy=multi-user.target
