# Setup app to run as a service (automatically on startup)

[Unit]
Description=Java Application Service
After=mariadb.service
Requires=mariadb.service

[Service]
# avoid running as root, apps that run on 80 must be run as root
User=ec2-user
# The configuration file application.properties should be here:
WorkingDirectory=/srv/app
# to limit JVM ram use -Xmx512m, or the value you prefer
ExecStart=/usr/bin/java -jar /srv/app/app.jar
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
